<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.FileInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hjy.entity.FileInfo" >
    <constructor >
      <idArg column="file_hash" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="file_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="file_url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    file_hash, file_name, file_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_file_info
    where file_hash = #{fileHash,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_file_info
    where file_hash = #{fileHash,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hjy.entity.FileInfo" >
    insert into tb_file_info (file_hash, file_name, file_url
      )
    values (#{fileHash,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hjy.entity.FileInfo" >
    insert into tb_file_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileHash != null" >
        file_hash,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileHash != null" >
        #{fileHash,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hjy.entity.FileInfo" >
    update tb_file_info
    <set >
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where file_hash = #{fileHash,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjy.entity.FileInfo" >
    update tb_file_info
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR}
    where file_hash = #{fileHash,jdbcType=VARCHAR}
  </update>
</mapper>