<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hjy.entity.User" >
    <constructor >
      <idArg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_school" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_major" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, nickname, username,  email, user_school, user_no, user_major, integral,
    gmt_create
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_info
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_user_info
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hjy.entity.User" >
    insert into tb_user_info (user_id, nickname, username, 
      password, email, user_school, 
      user_no, user_major, integral, 
      gmt_create)
    values (#{userId,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{userSchool,jdbcType=VARCHAR}, 
      #{userNo,jdbcType=VARCHAR}, #{userMajor,jdbcType=VARCHAR}, #{integral,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hjy.entity.User" >
    insert into tb_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="userSchool != null" >
        user_school,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="userMajor != null" >
        user_major,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userSchool != null" >
        #{userSchool,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userMajor != null" >
        #{userMajor,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hjy.entity.User" >
    update tb_user_info
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userSchool != null" >
        user_school = #{userSchool,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="userMajor != null" >
        user_major = #{userMajor,jdbcType=VARCHAR},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjy.entity.User" >
    update tb_user_info
    set nickname = #{nickname,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_school = #{userSchool,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      user_major = #{userMajor,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>


  <select id="selectLogin" resultType="com.hjy.entity.User">
        SELECT
        <include refid="Base_Column_List" />
        from tb_user_info
        where username = #{username}
        and password = #{password}
  </select>

  <select id="getList" resultType="com.hjy.entity.User">
    select
      <include refid="Base_Column_List" />
    from tb_user_info
  </select>

  <select id="checkUsername" resultType="java.lang.Integer">
    select count(1) from tb_user_info
    where username = #{username}
  </select>
    <select id="checkNickname" resultType="java.lang.Integer">
      select count(1) from tb_user_info
      where nickname = #{nickname}
    </select>

    <delete id="deleteByUserIds">
    delete from tb_user_info
    where user_id in
    <foreach collection="userIdList" item="item" index="index" open="(" separator="," close=")">
       #{item}
    </foreach>
  </delete>

</mapper>